@using Eight.Data.Repositories
@using Eight.Domian.Models
@using Eight.Domian.ViewModels

@inject IDailyEntryData _dailyEntryData
@inject ICategoryData _categoryData

<EditForm Model="@newDayEntry" OnValidSubmit="@AddNewEntry">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Yupti ?</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" @bind-value="newDayEntry.Description">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Category</span>
        </div>
        <InputSelect id="categorySelect" @bind-Value="newDayEntry.CategoryId">
            <option value="null"></option>
            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.Name (@category.Classification)</option>
            }
        </InputSelect>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">How would ye rate the day ?</span>
        </div>
        <input type="number" step="0.1" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" @bind-value="newDayEntry.DayRating">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">How many hings you done ?</span>
        </div>
        <input type="number" min="0" max="255" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" @bind-value="newDayEntry.ActivitiesCompleted">
    </div>

    <div class="input-group">
        <button type="submit" id="submitFormBtn" name="submitFormBtn" style="width:100%" class="btn btn-success ">Yippee Ki Yay, Motherfucker</button>
    </div>
</EditForm>

@code {

    private DayEntryVM newDayEntry = new();
    private List<Category> categories = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
    }

    private async Task AddNewEntry()
    {
        DayEntry newEntity = new()
        {
            Description = newDayEntry.Description,
            DateLogged = DateTime.Now,
            DayRating = newDayEntry.DayRating,
            ActivitiesCompleted = newDayEntry.ActivitiesCompleted,
            CategoryId = newDayEntry.CategoryId
        };

        await _dailyEntryData.InsertDayEntry(newEntity);

        newDayEntry = new();
    }

    private async Task LoadCategories()
    {
        categories = await _categoryData.GetAllCategories();
    }
}
